<h1> <%= @cat.name %></h1>


<table>
    <thead>
        <tr>
            <th> cat name </th>
          	<th> birth date </th>
          	<th> color </th>
         	<th> sex </th>
          	<th> description </th>
        </tr>
    </thead>
    <tbody>
       <tr>
            <td> <%= @cat.name %> </td>
          	<td> <%= @cat.birth_date %> </td>
          	<td> <%= @cat.color %> </td>
         	<td> <%= @cat.sex %> </td>
          	<td> <%= @cat.description %> </td>
      </tr>
    </tbody>
</table>